body{
    font-family:arial;
}
#main-heading{
    text-align:center;
}
.grid-container{
    display:grid;
    align-items: center;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    margin-top:10px;
}
#todo-input,#todo-date{
    font-size: 15px;
    padding:10px 5px;
}
.btn-todo{
    background-color:green;
}
.btn-delete{
    background-color:darkred;
}
.btn-todo,.btn-delete{
    border:none;
    border-radius:5px;
    color:white;
    cursor:pointer;
    padding:15px 0px;
}